/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 10vh;
}

header.container-header {
    display: flex;
    justify-content: center;
    column-gap: 0.5em;
    padding: 0.5em;
    place-items: center;
}

.content {
    transform: translateY(100vh);
    transition: transform 0.4s ease-out;
}